<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title>You Rage You Lose</title>
    </head>
    <body>
        <h1>You Rage You Lose</h1>
        {% if error_msg %}
            <b>{{ error_msg }}</b>
        {% else %}
            <div>
                <h2> Match Info </h2>
                <p>
                    <b>Game Id:</b>  {{ game['gameId'] }}
                </p>
                <p>
                    <b>Game Length:</b> {{ game['gameLength']}}
                </p>
                <p>
                    <b>Game Mode:</b> {{ game['gameMode'] }}
                </p>
                <p>
                    <b>Map Id:</b> {{ game['mapId'] }}
                </p>
                <p>
                    <b>Platform:</b> {{ game['platformId'] }}
                </p>
            </div>
            <div>
                <h3>Your team</h3>
                <table>
                    <tr>
                        <th></th>
                        <th>Spell 1</th>
                        <th>Spell 2</th>
                        <th>Summoner</th>
                        <th>Champion</th>
                        <th>Team</th>
                    </tr>
                    {% for player in game['team']['players'] %}
                        <tr>
                            <td> <img width="40px" height="40px" src="/static/champions/{{ player['championImageName']}}.png" /> </td>
                            <td> <img width="40px" height="40px" src="/static/summoners/{{ player['spell1Name'] }}.png" /> </td>
                            <td> <img width="40px" height="40px" src="/static/summoners/{{ player['spell2Name'] }}.png" /> </td>
                            <td> {{ player['summonerName'] }} </td>
                            <td> {{ player['championName'] }} </td>
                            <td> {{ game['team']['teamId'] }} </td>
                        </tr>
                    {% end %}
                    <tr style="background-color:#CCC; width: 100%">
                        <td colspan="6">
                            <b><span>Banned Champions:</span></b>
                            {% for ban in game['team']['bannedChampions'] %}
                                <img width="40px" height="40px" src="/static/champions/{{ ban['championImageName'] }}.png" />
                                {% end %}
                        </td>
                    </tr>
                </table>
            </div>
            <div>
                <h3>Enemy team</h3>
                <table>
                    <tr>
                        <th></th>
                        <th>Spell 1</th>
                        <th>Spell 2</th>
                        <th>Summoner</th>
                        <th>Champion</th>
                        <th>Team</th>
                    </tr>
                    {% for player in game['enemyTeam']['players'] %}
                        <tr>
                            <td> <img width="40px" height="40px" src="/static/champions/{{ player['championImageName'] }}.png" /> </td>
                            <td> <img width="40px" height="40px" src="/static/summoners/{{ player['spell1Name'] }}.png" /> </td>
                            <td> <img width="40px" height="40px" src="/static/summoners/{{ player['spell2Name'] }}.png" /> </td>
                            <td> {{ player['summonerName'] }} </td>
                            <td> {{ player['championName'] }} </td>
                            <td> {{ game['team']['teamId'] }} </td>
                        </tr>
                    {% end %}
                    <tr style="background-color:#CCC">
                        <td colspan="6">
                        <b><span>Banned Champions:</span></b>
                        {% for ban in game['enemyTeam']['bannedChampions'] %}
                            <img width="40px" height="40px" src="/static/champions/{{ ban['championImageName'] }}.png" />
                        {% end %}
                        </td>
                    </tr>
                </table>
            </div>
        {% end %}
    </body>
</html>
