body {
    padding-bottom: 20px;
}

.dark-bg{
    background-color: white !important;
}

.navbar{
    background-color: #205081;
    border-bottom-color: ##2E3D54;
    margin-bottom: 0px;
}

.navbar-brand{
    color: white !important;
}
